@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 70px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 30%;
}

/* Navigation */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img {
    display: flex;
    align-items: center;
    height: 40px;
}

.treact {
    text-decoration: none;
    padding-left: 7px;
    font-size: 26px;
    font: 700;
    font-weight: bold;
    color: #243363;
}

.treact:hover {
    color: #6415ff;
    transition: 400ms ease;

}

.nav__link {
    text-decoration: none;
    margin: 16px;
    font-size: 14px;
    color:#243363;
}

.nav__link:hover {
    text-decoration: underline;
    text-decoration-thickness:calc(20%);
    text-decoration-color: #6415ff;
    text-underline-offset: calc(30%);
    color: #6415ff;
    transition: all 300ms ease;
}

.login {
    margin: 0 16px;
}

.sign_up {
    text-decoration: none;
    border-radius: 24px;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    background-color: #6415ff;
}

.sign_up:hover {
    transition: 300ms ease;
    background-color: rgb(80 17 204);
}

/* Landing */

.land_con {
    width: 1400px;
}

.land {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.land_img {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beautiful {
    font-size: 45px;
    font-weight: bold;
}

.purple {
    font-weight: bold;
    font-size: 45px;
    color: #6415ff;
}

.beautiful--para {
    margin: 16px 0 16px 0;
    display: flex;
    font-size: 18px;
    opacity: .75;
    line-height: 1.5;
}

.search_bar {
    margin: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.get {
    text-decoration: none;
    border-radius: 28px;
    color: white;
    padding: 15px 38px;
    font-size: 16px;
    font-weight: bold;
    background-color: #6415ff;
}

.get:hover {
    transition: 300ms ease;
    background-color: rgb(80 17 204);
}

.email {
    height: 65px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2.5px solid #CBD5E0;
    border-radius: 40px;
}

.email:hover {
    border-color: #7C8BA1;
    transition: 500ms ease;
}

.e-mail {
    width: 55%;
    font-size: 16px;
    padding: 0 10px;
    border-color: white;
    border: none;
    outline: none;
    opacity: calc(75%);
}

.e-mail:hover {
    transition: 300ms ease;
    border-color: #7C8BA1;
}

.trusted {
    height: 75px;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    opacity: .45;
}

.customers_img {
    opacity: .40;
    width: 90%;
}

/* Features */

.features {
    height: 900px;
    margin: 0 auto;
    padding: 70px 0;
    max-width: 1200px;
    width: 100%;
    display: flex;
}

.feat {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.title {
    color: #6415ff;
    font-weight: bold;
    font-size: 16px;
}

.T__F {
    color: #243363;
    font-size: 50px;
    font-weight: 700;
    margin: 16px 0;
}

.AS {
    font-weight: bold;
    color: #6415ff;
    width: 100%;
}

.title--para {
    max-width: 50%;
    opacity: calc(70%);
    font-size: 18px;
    line-height: 1.5;
    color:#243363;
}

.services {
    height: 500px;
    padding-top: 12px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
}

.service {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    padding: 40px 0;
}

.serv__title {
    margin-top: 10px;
    margin-left: 14px;
    font-size: 23px;
    font-weight: bold;
    color:#243363;
}

.serv__con {
    display: flex;
    justify-content: center;
    padding-left: 30px;
}

.serv__des {
    color:#243363;
    text-align: left;
    width: 75%;
    opacity: .75;
    line-height: 2.0;
}

.icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 22px 22px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 100%;
}

.icon__wrapper {
    display: flex;
    height: 50px;
    width: 25%;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Quality Work */

.QW__container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 70px 0;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
}

.QW__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.text__row {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.QW {
    height: 24px;
    font-size: 24px;
    margin: 5px;
    color: #6415ff;
    font-weight: bold;
    font-size: 18px;
}

.screenshot {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SS__wrapper {
    width: 50%;
    height: 83%;
    border: 1px solid lightgray;
}

.QW--title {
    font-weight: bold;
    padding: 12px 0;
    margin-right: 12px;
}

.QW--title--wrapper {
    font-size: 48px;
    color: #243363;
}

.QW__para {
    line-height: 1.5;
    font-size: 18px;
    opacity: .55;
    margin-right: 36px;
}

.QW__para--wrapper {
    padding: 12px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.learn {
    width: 25%;
    text-decoration: none;
    border-radius: 24px;
    color: white;
    padding: 12px 26px;
    font-weight: 14px;
    background-color: #6415ff;
    display: flex;
    justify-content: flex-end

}

.learn:hover {
    transition: all ease 300ms;
    background-color: rgb(80 17 204);
}

/* Steps */

.step__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.laptop__img {
    height: 350px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.steps__des--wrap {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.steps {
    color: #6415ff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0;
}

.easy__wrap {
    color: #243363;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 40px;
}

.steps__con {
    display: flex;
    height: 40%;
    width: 75%;
}

.steps__mini__con {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.number {
    display: flex;
    opacity: .75;
    height: 35%;
    font-size: 36px;
    color: rgb(203, 213, 224);
    font-weight: bold;
    padding-right: 8px;
}

.steps__dir {
    display: flex;
    align-items: center;
    padding: 12px;
    height: 25%;
    font-size: 19px;
    font-weight: bold;
    color:#243363
}

.steps__des {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    line-height: 2;
    font-size: 14px;
    color:#7C8BA1;
    padding-bottom: 12px;
    padding-left: 12px;
    height: 100%;
}
/* Values */

.val_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 550px;
}

.values__con {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.val--wrap {
    display: flex;
    flex-direction: column;
}

.values {
    color: #6415ff;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0;
}

.val__headline--wrap {
    font-size: 52px;
    font-weight: bold;
    color: #243363;
}

.val__p {
    font-size: 52px;
}

.val__para {
    line-height: 1.5;
    margin-right: 12px;
    color: #7C8BA1;
}

.val__para--wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    font-weight: bold;
    padding: 16px 0;
    width: 96%;
}

.val__con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
}

.afford__con,
.pro__con {
    display: flex;
    flex-direction: column;
}

.val__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-dollar-sign,
.fa-suitcase {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin-right: 12px;
}

.fa-dollar-sign {
    background-color: lightgreen;
    color: rgb(39 103 73);
}

.fa-suitcase {
    background-color: rgb(254 178 178);
    color: red;
}

.afford__title,
.pro__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #243363;
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    padding: 12px 0px;
}

.afford__para,
.pro__para {
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
}

.afford__des, 
.pro__des {
    margin-right: 24px;
    color: #7C8BA1;
}

.proto_wrap {
    width: 50%;
}

.proto {
    width: 100%;
    height: 100%;
}

.learn {
    display: flex;
    justify-content: center;
}

.learn:hover {
    transition: rgb(80 17 204);
}

/* Pricing */

.price__land {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 12px;
    margin: 12px 12px;
}

.pricing__title {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color:#6415ff;
    font-weight: bold;
    width: 10%;
    margin: 12px;
}

.price__head {
    color: #243363;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 16px;
}

.price__head__para--wrap {
    display: flex;
    justify-content: center;
}

.price__head__para {
    font-size: 18px;
    color:#7C8BA1;
    line-height: 1.5;
    width: 65%;
    text-align: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
}

.personal__con--wrap,
.biz__con--wrap,
.enterprise__con--wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 3);
    padding: 12px 12px;
}

.personal__HL {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient( 115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100% );
}

.enter__HL {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
}

.top,
.mid,
.bot {
    border: 1px solid rgb(226, 232, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    position:  relative;
    
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 70px;
    height: 75%;
    width: 75%;
}

.biz__top__title,
.biz__top__price,
.biz__mid,
.biz__top__foot {
    color: white;
}

.biz__top__title {
    font-size: 20px;
    font-weight: bold;
}

.biz__top__price {
    font-size: 46px;
    font-weight: bold;
}

.biz__top__foot {
    font-size: 18px;
    font-weight: bold;
}

.biz__list {
    color:#CBD5E0;
}

.top__title {
    font-size: 20px;
    font-weight: bold;
}

.top__price {
    font-weight: bold;
    font-size: 46px;
}

.top__foot {
    color:#7C8BA1;
    font-weight: bold;
    font-size: 18px;
}

.mid__title {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

.mid__list {
    color:#7C8BA1;
}

.top {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mid {
    height: 300px;
}

.bot {
    height: 140px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.biz__prices__col,
.biz__desc__col,
.biz__btn__col {
    background-color: rgb(102, 126, 234);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__buy {
    font-size: 16px;
    font-weight: bold;
    padding: 16px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    text-decoration: none;
} 

.plan__buy:hover {
    transform: translate(1px, 1px);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.15);
    transition: ease 300ms;
}

.pb {
    background-image: linear-gradient(135deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100% );
    color: white;
}

.bb {
    background-color: white;
    color: #6415ff;
}

.eb {
    background-image: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );background-image: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
    color: white;
}

/* Testimonials */

.test__con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test__row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 75vh;
    width: 60vw;
    padding-left: 16px;
    margin-left: 24px;
}

.love__img {
    width: 100%;
    margin-right: 24px;
}

.test__title {
    font-weight: bold;
    font-size: 18px;
    color:#6415ff;
}

.test__para {
    font-size: 45px;
    font-weight: bold;
    color: #243363;
}

.test__para--graph {
    color: #7C8BA1;
    font-size: 18px;
    line-height: 1.5;
}

.test__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.fa-star {
    color:rgba(246, 173, 85);
    padding: 0 0 0 4px;
}

.test__desc--title {
    color: #243363;
    font-size: 20px;
    font-weight: bold;
}

.test__desc--para {
    line-height: 1.5;
    color: #243363;
}

.test__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.test__footer--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test__img {
    height: 80px;
    width: 80px;
    border-radius:  100%;
}

.test__name--wrap {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.test__name {
    color: #243363;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.test__name--title {
    color: #7C8BA1;
}

.button--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.arrow {
    height: 47.5px;
    width: 47.5px;
    border-radius: 100%;
    border-style: none;
    background-color: rgb(237 242 247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 24px;
}

.arrow:hover {
    background-color: rgb(223, 226, 232);
    transition: all 300ms ease;
}

.fa-arrow-left,
.fa-arrow-right {
    color:#6415ff;
}

    /* Contact */

.contact__con {
    height: 300px;
    background-color: #6415ff;
    border-radius: 10px;
}

.contact__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
}

.contact__para {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 8px;
    width: 75%;
}

.con__btn--wrap {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 40%;
}

.con__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 40px;
    color: white;
    padding: 15px 42px;
    font-size: 16px;
    font-weight: bold;
}

.get__started {
    background-color: rgb(245 101 101);
}

.get__started:hover {
    transition: 300ms ease;
    background-color: rgb(250, 55, 55);
}

.contact__us {
    border: 1px solid white;
}

.contact__us:hover {
    transition: 300ms ease;
    background-color: white;
    color:#6415ff;
}

/* Cushion */

.cush__con {
    height: 200px;
}

/* Footer */

.feet {
    max-width: 100vw;
    background-color: #6415ff;
}

.foot__row {
    height: 400px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6415ff;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 25vh;
}

.foot__main, 
.foot__product, 
.foot__press, 
.foot__team, 
.foot__legal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}

.link__title {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding: 16px 0;
}

.link__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
    width: 100%;
}

.link {
    font-size: 14px;
    padding: 8px 0;
}

.foot__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 150px;
    border-top: 1px solid silver;
}

.foot__treact {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

.foot__img {
    outline: none;
    height: 35px;
    width: 35px;
    margin-right: 8px;
}

.treact__copyright {
    font-weight: normal;
    color:#CBD5E0;
}

.foot__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 5vh;
}

.fa-brands {
    background-color: whitesmoke;
    border-radius: 100%;
    margin: 6px 6px;
    color:black;
    font-size: small;
}

.fa-facebook-f {
    padding: 10px 13px;
}

.fa-twitter,
.fa-youtube {
    padding: 10px 11px; 
}

.fa-brands:hover {
    background-color: lightgrey;
    transition: all ease 500ms;
    cursor: pointer;
}

/* TABLETS AND PHONES */

@media (max-width:992px) {
    .nav {
        width: 100%;
    
    .container {
        max-width: 100%; 
    }

}

@media (max-width:768px) {

}

@media (max-width:458px) {

}
