@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.site_padding {
    padding: 20px 24px;
}

a {

}

p {

}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 30%;
}

li {
    display: flex;
    font-weight: 500;
}

h1, h2, h3, h4, h5, span {

}

.container {

}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav bar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    list-style-type: none;
    margin: 8px 16px;
    color:black;
    transform: all 300ms ease;
}

.nav__link:hover {

}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    height: 36px;
}

.Treact {
    text-decoration: none;
    padding: 0 12px;
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.Treact:hover {
    transition: 300ms ease;
    color: rgb(88, 9, 161);
}

.login {
    margin: 0 16px 0 50px;
}

.btn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 24px;
    color: white;
    padding: 8px 24px;
    font-weight: 14px;
    background-color: rgb(108, 21, 190)
}

.btn:hover {
    transition: 300ms ease;
    background-color: rgb(88, 9, 161);
}

.btn__menu {
    display: none;
}

.btn:hover, .btn__purple--menu:hover {
    background-color: rgb(80 17 204);

.menu__backdrop {

}

/* Landing */



/* Features */

/* Quality Work */

/* Steps */

/* Values */

/* Pricing */

/* Testimonials */

/* FAQs */

/* Contact */

/* Footer */


/* Phones and Tablets */

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    
}

@media (max-width: 640px) {

}
