@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    display: flex;
    border: 2px solid black;
    padding: 70px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 30%;
}

li {}

/* Navigation */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.nav_row {
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img {
    display: flex;
    align-items: center;
    height: 40px;
}

.treact {
    text-decoration: none;
    padding-left: 7px;
    font-size: 26px;
    font: 700;
    font-weight: bolder;
    color: #6415ff;
}

.nav__link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 16px;
    font-size: 14px;
    color: black;
}

.nav__link:hover {
    text-decoration: underline;
    line-height: 1.5;
    transition: all ease-in-out .3s;
}

.login {
    margin: 0 16px;
}

.sign_up {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 24px;
    color: white;
    padding: 10px 26px;
    font-size: 14px;
    font-weight: bold;
    background-color: #6415ff;
}

.sign_up:hover {
    transition: 300ms ease;
    background-color: rgb(80 17 204);
}

/* Landing */

.land_con {
    width: 1400px;
}

.land {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.land_img {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beautiful {
    font-size: 45px;
    font-weight: bold;
}

.purple {
    font-weight: bold;
    font-size: 45px;
    color: #6415ff;
}

.beautiful--para {
    margin: 16px 0 16px 0;
    display: flex;
    font-size: 18px;
    opacity: .75;
    line-height: 1.5;
}

.search_bar {
    margin: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.get {
    text-decoration: none;
    border-radius: 28px;
    color: white;
    padding: 15px 38px;
    font-size: 16px;
    background-color: #6415ff;
}

.get:hover {
    transition: 300ms ease;
    background-color: rgb(80 17 204);
}

.email {
    height: 65px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2.5px solid grey;
    border-radius: 40px;
}

.e-mail {
    width: 55%;
    font-size: 16px;
    padding: 0 10px;
    border-color: white;
    border: none;
    outline: none;
    opacity: calc(75%);
}

.e-mail:hover {
    transition: 300ms ease;
    opacity: calc(100%);
}

.trusted {
    height: 75px;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    opacity: .45;
}

.customers_img {
    opacity: .40;
    width: 90%;
}

/* Features */

.features {
    height: 900px;
    margin: 0 auto;
    padding: 70px 0;
    max-width: 1200px;
    width: 100%;
    display: flex;
}

.feat {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.title {
    color: #6415ff;
    font-weight: bold;
    font-size: 16px;
}

.T__F {
    color: #243363;
    font-size: 50px;
    font-weight: 700;
    margin: 16px 0;
}

.AS {
    font-weight: bold;
    color: #6415ff;
    width: 100%;
}

.title--para {
    max-width: 40%;
    opacity: calc(70%);
    font-size: 18px;
    line-height: 1.5;
}

.services {
    height: 500px;
    padding-top: 12px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
}

.service {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    padding: 40px 0;
}

.serv__title {
    padding-left: 7px;
    font-size: 22px;
    font-weight: bold;
    color:#243363;

}

.serv__con {
    display: flex;
    justify-content: center;
    padding-left: 30px;
}

.serv__des {
    color:#243363;
    text-align: left;
    width: 75%;
    opacity: .75;
    line-height: 2.0;
}

.icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 18px 18px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 100%;
}

.icon__wrapper {
    display: flex;
    height: 50px;
    width: 25%;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Quality Work */

.QW__container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 70px 0;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
}

.QW__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.text__row {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.QW {
    height: 24px;
    font-size: 24px;
    margin: 5px;
    color: #6415ff;
    font-weight: bold;
    font-size: 18px;
}

.screenshot {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SS__wrapper {
    width: 50%;
    height: 83%;
    border: 1px solid lightgray;
}

.QW--title {
    font-weight: bold;
    padding: 12px 0;
    margin-right: 12px;
}

.QW--title--wrapper {
    font-size: 48px;
    color: #243363;
}

.QW__para {
    line-height: 1.5;
    font-size: 18px;
    opacity: .55;
    margin-right: 36px;
}

.QW__para--wrapper {
    padding: 12px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.learn {
    width: 25%;
    text-decoration: none;
    border-radius: 24px;
    color: white;
    padding: 12px 26px;
    font-weight: 14px;
    background-color: #6415ff;
    display: flex;
    justify-content: flex-end

}

/* Steps */

.step__container {
}

.step__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.laptop__img {
    height: 350px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.steps__des--wrap {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.steps {
    color: #6415ff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0;
}

.easy__wrap {
    color: #243363;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 40px;
}

.steps__con {
    display: flex;
    height: 40%;
    width: 75%;
}

.steps__mini__con {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.number {
    display: flex;
    opacity: .75;
    height: 35%;
    font-size: 36px;
    color: rgb(203, 213, 224);
    font-weight: bold;
    padding-right: 8px;
}

.steps__dir {
    display: flex;
    align-items: center;
    padding: 12px;
    height: 25%;
    font-size: 20px;
    font-weight: bold;
}

.steps__des {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    line-height: 2;
    font-size: 14px;
    color: grey;
    padding-bottom: 12px;
    padding-left: 12px;
    height: 100%;
}
/* Values */

.val_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 550px;
}

.values__con {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.val--wrap {
    display: flex;
    flex-direction: column;
}

.values {
    color: #6415ff;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0;
}

.val__headline--wrap {
    font-size: 50px;
    font-weight: bold;
    color: #243363;
}

.val__para {
    line-height: 1.5;
    margin-right: 12px;
    color: #7C8BA1;
}

.val__para--wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    font-weight: bold;
    padding: 16px 0;
    width: 96%;
}

.val__con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
}

.afford__con,
.pro__con {
    display: flex;
    flex-direction: column;
}

.fa-dollar-sign,
.fa-suitcase {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin-right: 12px;
}

.fa-dollar-sign {
    background-color: lightgreen;
    color: rgb(39 103 73);
}

.fa-suitcase {
    background-color: rgb(254 178 178);
    color: red;
}

.afford__title,
.pro__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #243363;
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    padding: 12px 0px;
}

.afford__para,
.pro__para {
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
}

.afford__des, 
.pro__des {
    margin-right: 24px;
    color: #7C8BA1;
}

.afford__img,
.pro__img {

}

.proto_wrap {
    width: 50%;
}

.proto {
    width: 100%;
    height: 100%;
}

.learn {
    display: flex;
    justify-content: center;
}

.learn:hover {
    transition: rgb(80 17 204);
}

/* Pricing */

.pricing_con {

}

.price_row {

}

.price__land {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 12px;
    margin: 12px 12px;
}

.pricing__title {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color:#6415ff;
    font-weight: bold;
    width: 10%;
    margin: 12px;
}

.price__head {
    color: #243363;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 16px;
}

.price__head__para--wrap {
    display: flex;
    justify-content: center;
}

.price__head__para {
    font-size: 20px;
    color:#243363;
    line-height: 1.5;
    width: 50%;
    text-align: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid red;
    height: 700px;
}

.personal__con--wrap,
.biz__con--wrap,
.enterprise__con--wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 7px dotted purple;
    width: calc(100% / 3);
}

.top,
.mid,
.bot {
    border: 4px double blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 4px solid #6415ff;
    height: 75%;
    width: 75%;
    margin-right: 100px;

}

.list__desc {

}

.top {
    height: 200px;
}

.mid {
    background-color: blue;
    height: 300px;
}

.bot {
    height: 150px;
}

.personal__prices__col,
.personal__desc__col,
.personal__btn__col {

}

.biz__prices__col,
.biz__desc__col,
.biz__btn__col {
    background-color: rgb(102, 126, 234);
}

.enter__prices__col,
.enter__desc__col,
.enter__btn__col {

}

.plan__buy {

}

/* Testimonials */

.test__con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test__row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 75vh;
    width: 60vw;
    padding-left: 16px;
    margin-left: 24px;
}

.love__img {
    width: 100%;
    margin-right: 24px;
}

.test__title {
    font-weight: bold;
    font-size: 18px;
    color:#6415ff;
}

.test__para {
    font-size: 45px;
    font-weight: bold;
    color: #243363;
}

.test__para--graph {
    color: #7C8BA1;
    font-size: 18px;
    line-height: 1.5;
}

.test__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.fa-star {
    color:rgba(246, 173, 85);
    padding: 0 0 0 4px;
}

.test__desc--title {
    color: #243363;
    font-size: 20px;
    font-weight: bold;
}

.test__desc--para {
    line-height: 1.5;
    color: #243363;
}

.test__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.test__footer--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test__img {
    height: 80px;
    width: 80px;
    border-radius:  100%;
}

.test__name--wrap {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.test__name {
    color: #243363;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.test__name--title {
    color: #7C8BA1;
}

.button--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.arrow {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-style: none;
    background-color: rgb(237 242 247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.arrow:hover {
    transition: all 300ms ease;
}

.fa-arrow-left,
.fa-arrow-right {
    color:#6415ff;
}

/* Contact */

.contact__con {
    height: 300px;

}

.contact__row {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    border: 2px dotted red;
    background-color: white;
}

.contact__para {
    
}

/* Footer */

.foot__row {
    background-color: #6415ff;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: 2px solid orange;
}

.foot__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.foot__img {
    outline: none;
    height: 35px;
    width:  35px;

}


@media {}

@media {}

@media {}
